// Colores
$color-primary: #d5966c;
$color-black: #151515;
$color-gray: #444444;
$color-white: #ffffff;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Tipografía
// Variables de fuente
$font-heading: "Big Shoulders Display", cursive;
$font-body: "Outfit", sans-serif;

$fw-heading: 900;
$fw-body: 300;

// Tamaños de Heading y line-height
$fs-xl: 96px;
$lh-xl: 88px;

$fs-l: 70px;
$lh-l: 70px;

$fs-m: 60px;
$lh-m: 50px;

$fs-s: 36px;
$lh-s: 36px;

// Body text sizes
$fs-body-m: 22px;
$lh-body-m: 32px;

$fs-body-s: 18px;
$lh-body-s: 28px;

.heading-xl {
  font-family: $font-heading;
  font-size: $fs-xl;
  line-height: $lh-xl;
}

.heading-l {
  font-family: $font-heading;
  font-size: $fs-l;
  line-height: $lh-l;
}

.heading-m {
  font-family: $font-heading;
  font-size: $fs-m;
  line-height: $lh-m;
}

.heading-s {
  font-family: $font-heading;
  font-size: $fs-s;
  line-height: $lh-s;
}

.body-m {
  font-family: $font-body;
  font-size: $fs-body-m;
  line-height: $lh-body-m;
  color: $color-gray;
}

.body-s {
  font-family: $font-body;
  font-size: $fs-body-s;
  line-height: $lh-body-s;
  color: $color-gray;
}

// Botones

.btn--primary {
  display: inline-flex;
  overflow: hidden;
  text-decoration: none;
  font-family: $font-heading;
  font-size: $fs-s;
  line-height: $lh-s;

  .btn__label {
    flex: 1;
    background-color: $color-black;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
  }

  .btn__icon {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.3s ease;
  }

  svg {
    display: block;
    width: 1.5rem;
    height: auto;
    color: $color-white;
  }

  &:hover {
    cursor: pointer;

    .btn__label {
      background-color: $color-primary;
    }

    .btn__icon {
      background-color: $color-black;
    }
  }
}

// Vista Mobile
//hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  gap: 1.5rem;
  padding: 1.5rem 0;

  .hero__image-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cener;
    display: block;
  }
}

// Info
.gallery-day {
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  gap: 1.5rem;
  padding: 2rem 0;

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    @extend .heading-l;
  }

  &__text {
    @extend .body-s;
    color: $color-gray;
  }

  .gallery-day__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-item {
      overflow: hidden;

      &--large img,
      &--small img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
      }
    }
  }
  .gallery-day__cta {
    background-color: $color-black;
    color: $color-white;
    padding: 1rem;
    text-align: left;

    h3 {
      @extend .heading-m;
      color: $color-white;
      margin-bottom: 0.75rem;
    }
    p {
      @extend .body-m;
      color: $color-white;
      margin-bottom: 1rem;
    }
  }
}

// footer
.footer {
  background-color: $color-black;
  color: $color-white;
  padding: 1.5rem 1.5rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 1.5rem;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: center;
      gap: 9rem;
    }

    @media (min-width: $bp-desktop) {
      flex-direction: row;
      align-items: center;
      gap: 20rem;
    }
  }

  &__title {
    font-family: $font-heading;
    font-size: $fs-s;
    line-height: $lh-s;
  }

  &__text {
    font-family: $font-body;
    font-size: $fs-body-s;
    line-height: $lh-body-s;
    max-width: 600px;

    @media (min-width: $bp-tablet) {
      text-align: left;
      max-width: 300px;
    }
  }

  &__social {
    width: 24px;
    display: flex;
    gap: 1.5rem;

    a {
      display: inline-flex;

      img {
        width: 24px;
        height: auto;
        display: block;
      }
    }
  }
}

// Vista Tablet

@media (min-width: $bp-tablet) {
  .hero {
    position: relative;
    display: block;
    min-height: 100vh;
    background: url("../images/Rectangle.jpg") no-repeat left center;
    background-size: auto 100%;

    // Contenido en la mitad derecha
    .hero__content {
      position: absolute;
      top: 50%; // punto medio vertical
      right: 0; // pegado al borde derecho
      transform: translateY(-60%) translateX(-15%);
      // sube la mitad de su altura y la separa un poco de la imagen
      width: 45%; // ocupa aprox. la mitad derecha
      background: transparent;
      padding: 2rem;
      text-align: left;
      z-index: 1;

      .heading-xl {
        margin-bottom: 1rem;
      }
      .body-m {
        margin-bottom: 2rem;
        color: $color-gray;
      }
      .btn--location {
        margin-top: 1rem;
        width: auto; // que no sea full‑width
      }
    }
    &__image-container {
      display: none;
    }
  }

  .gallery-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;

    padding: 20px;
    margin: 0 auto;

    &__intro {
      grid-column: span 2 / span 2;
      grid-row: span 2 / span 2;
      grid-column-start: 1;
      grid-row-start: 1;
      padding: 10px;
    }
    &__img--primary {
      grid-column: span 4 / span 4;
      grid-row: span 2 / span 2;
      grid-column-start: 4;
      padding: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      // grid-column-start: 3;
      // grid-row-start: 1;
    }
  }

  // subgrid
  // .gallery-day__grid {
  //   grid-column: 1/-1;
  //   grid-row: 2/3;

  //   display: grid;
  //   grid-template-columns: 2fr 1fr;
  //   grid-template-rows: auto auto;
  //   gap: 1rem;
  // }

  .gallery-day__grid-item--large {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    // grid-column-start: 1;
    grid-row-start: 3;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery-day__grid-item--small {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .gallery-day__cta {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 5;
    padding: 20px;
  }
}

// // Vista Desktop

@media (min-width: $bp-desktop) {
  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    padding: 0;
    background: url("../images/Rectangle.jpg") no-repeat center center;
    background-size: auto 100%;

    &__title-box {
      background-color: $color-black;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      z-index: -1;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      h1 {
        transform: translateY(6rem) translateX(-25rem);
        width: 500px;
        color: $color-white;
      }

      p {
        align-self: flex-end;
        width: 350px;
        transform: translateY(-7rem) translateX(23rem);
      }
    }

    .btn--primary {
      transform: translateY(-5rem) translateX(17rem);
      width: 320px;
    }

    &__image-container {
      display: none;
    }
  }
}
